{% extends 'base.html' %}
{% block title %}Add A New Cafe{% endblock %}
{% block content %}
<div class="jumbotron">
  <h1>Add a new cafe into the database</h1>
  <form method="post">
    {{ form.hidden_tag() }}
    {{ form.cafe.label }} {{ form.cafe(size=32) }}<br>
    {{ form.location_url.label }} {{ form.location_url(size=32) }}<br>
    {{ form.open_time.label }} {{ form.open_time(size=32) }}<br>
    {{ form.close_time.label }} {{ form.close_time(size=32) }}<br>
    {{ form.coffee_rating.label }} {{ form.coffee_rating() }}<br>
    {{ form.wifi_rating.label }} {{ form.wifi_rating() }}<br>
    {{ form.power_outlet_rating.label }} {{ form.power_outlet_rating() }}<br>
    {{ form.submit(class="btn btn-warning") }}
  </form>
  <p class="space-above"><a href="{{ url_for('cafes') }}" class="btn btn-warning">See all cafes</a></p>
</div>
{% endblock %}
